@import "../../../../styles/default";

.header {
  margin: 0;
  min-width: 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .header-wrapper {
    margin: 0 auto;
    padding: 1rem 0;

    .brand-logo {
      margin-left: 25px;

      .brand {
        font-size: 1.8rem;
        text-decoration: none;
        color: #000;
        font-weight: 700;
      }
    }

    .header-right {
      margin-right: 25px;

      .header-links {
        padding: 0 2rem;

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          .header-link-item {
            text-decoration: none;
            outline: none;
            color: #000;
            margin: 0 1rem;
            font-weight: bold;
          }
        }
      }

      .header-action-wrapper {
        background-color: $primary-color;
        padding: 14px 20px;
        border: 0px;
        font-size: 0.9rem;
        font-weight: normal;
        position: relative;
        border-radius: 5px;
        cursor: pointer;

        .header-action {
          color: rgb(255, 255, 255);
          font-weight: bold;
        }
      }
    }
  }
}
