@import "../../styles/default";

.wallet {
  .heading {
    margin-bottom: 35px;
  }
  .header-right {
    width: 290px;
    justify-content: space-between;
    .updates {
      background-color: #edf1f4;
      padding: 20px 20px 20px 20px;
      border-radius: 10px;
      font-size: 13px;
      color: #545a6b;

      span:first-of-type {
        margin-right: 10px;
        color: #a0a7b7;
      }
    }
  }

  .main {
    min-height: 83vh;
    flex: 1;
    margin-right: 50px;

    .balance {
      width: 700px;

      .balance-item {
        margin-left: 15px;
        .balance-icon {
          background-color: lighten($primary-color, 26%);
          padding: 17px;
          border-radius: 10px;
          margin-right: 15px;
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
        }

        .balance-content {
          height: 100%;
          p {
            margin: 5px 0 10px 0;
            font-size: 14px;
            color: #a0a7b7;
          }
          span {
            font-weight: 700;
            font-size: 20px;
          }
        }
      }
    }

    .no-wallet {
      height: 100%;
      padding-bottom: 13rem;

      .not-found {
        height: 150px;
        margin-bottom: 15px;
      }
    }

    .card-container {
      margin: 0 auto;
      justify-items: center;
      & > div {
        padding: 10px 0px 10px 0px;
      }
    }
  }

  .side {
    flex: 0.2;
    background-color: #edf1f4;
  }
}
